* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    min-height: 100vh;
    background-color: #181856;
    display: grid;
    place-items: center;
    
}

.calculadora {

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 0;
 
    
}

.pantalla {

    grid-column: 1 / 5;
    background-color: grey;
    color: white;
    border-radius: 0.1rem;
    text-align: right;
    
}
.igual {

    background-color: rgb(237, 117, 121);
    grid-column: 4 / 4;
    grid-row: 3 / 7;
    border-width: 1px;

}


.botones1 {

    background-color: #9696ea;
    border-width: 1px;


}
    

.botones {

background-color: white;
border-width: 1px;


}




