@use "sass:math";

@mixin ejercicio ($color, $font-size, $border-color) {

    color: $color;
    font-size: $font-size;
    border-color:$border-color;
}

@function pixeles-rem ($pixeles){

    $rem: math.div($pixeles, 16) * 1rem;

    @return $rem;

}
   

body {

    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
    border: red solid 1px;
    width: 300px;
    height: 50vh;
    
    

    h1 {

        text-align: center;
        color: green;
        text-decoration: underline;

    }

    .primera-section {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        


    }

    .segunda-section {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;



    }


    .blue {

        @include ejercicio(blue, 1rem, green);
    }

    .red {

        @include ejercicio(red, 1rem, green);
    }

    .pie {

        @include ejercicio(green,24px, green 1px solid);
    }

}